
body.blog main {

  h1 {
    @include adjust-font-size-to($font-size-big);
  }

  header {
    @include adjust-font-size-to($font-size-small);
    @include clearfix;

    margin-bottom: rhythm(0.5);

    time {
      float: left;
    }

    ul {
      @include clearfix;
      float: right;

      li {
        display: block;
        float:left;

        & + li:before {
          content: '·';
          margin: 3px;
        }
      }
    }

  }

  // spacing between articles
  article {
    padding-bottom: rhythm(0.5);
  }
  article + article {
    margin-top: rhythm(1.5);
    border-top: solid 1px $palette-lightgrey;
    padding-top: rhythm(1.5) - 1px;
  }

}
