
body {
  & > header {
    @include container;
    @include clearfix;

    position: relative;
    min-height: rhythm(5);
    margin-top: rhythm(5);
    padding-bottom: rhythm(1) - 1px;
    border-bottom: solid 1px $palette-lightgrey;

    h1 {
      @include adjust-font-size-to($font-size-biggest);
    }
    h2 {
      @include adjust-font-size-to($font-size-medium);
    }

    nav {
      position: absolute;
      top: 0;
      right: 0;

      margin-top: rhythm(1);

      li {
        @include adjust-font-size-to($font-size-normal);
        float: left; // does not add extra space like "display: inline-block"
        margin-right: rhythm(2);
      }
      a {
        text-decoration: none;
      }
    }
  }

  & > main {
    @include container;

    min-height: rhythm(30);
    padding-top: rhythm(2.5);
    padding-bottom: rhythm(2.5);
  }

  & > footer {
    @include container;
    @include clearfix;

    min-height: rhythm(3);
    border-top: 1px solid $palette-lightgrey;
    padding-top: rhythm(0.5) - 1px;

    .copyright {
      float: left;
    }
    .links {
      float: right;
    }
  }
}
