<% page.posts.each(function (article) { %>
  <article>
    <h1><%- link_to(article.path, article.title) %></h1>

    <%- partial('_partial/post_overview_header', { article: article }) %>

    <main>
      <%- article.excerpt %>
      <%- link_to(article.path, 'Read more') %>
    </main>
  </article>
<% }); %>
