/*
 *= require_self
 */

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2, h3, h4 {
  //text-align: center;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.narrow,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.narrow {
  margin: 30px 0;
}
.narrow p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .narrow,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* reduce top spacing to image */
#main-image + div {
  margin-top: 10px;
}

#about {

  span.dev {
    color: #428bca;
    font-weight: bold;
    border-bottom: 1px dashed;
    cursor: help;

    &:hover {
      color: #2a6496;
    }
  }
  #dev-rails + .popover {
    /* increase width for Rails popover */
    max-width: 350px;
  }
  p:last-of-type {
    /* give last paragraph more spacing */
    padding-top: 20px;
  }
}

#projects {
  a {
    /* space out project links */
    margin-right: 10px;
  }
}

#contact {
  div {
    a.mail {
      /* increase size of the mail link */
      font-size: 1.9em;
    }
  }
}

