
.blog.blog_index main {

  article main {
    a {
      margin-left: 10px;
      white-space: nowrap;
    }
  }

  // spacing between articles
  article {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }
  article + article {
    margin-top: rhythm(1.5);
    border-top: solid 1px $palette-lightgrey;
    padding-top: rhythm(1.5) - 1px;
  }

}
