
$palette-black: #101010;
$palette-grey:  #515058;
$palette-lightgrey:  #CED8DE;
$palette-lightergrey: #F3F5F7;
$palette-white: #ffffff;

$palette-green: #00aa00;
$palette-blue: #4C80B2; //#37608C; // #3B638D; //#2B5FA9;

$color-text: $palette-black;
$color-header: $palette-grey;
$color-link: $palette-blue;
$color-link--hover: $palette-black;

$color-selection-text: $palette-white;
$color-selection-background: $palette-grey;
