
a {
  color: $color-link;
  text-decoration: none;
  transition: color .1s;

  &:hover {
    color: $color-link--hover;
    padding-bottom: 2px;
    border-bottom: solid 1px $color-link--hover;
  }
}
