<h2>Articles</h2>

<% blog.articles.each do |article| %>
<p class="">
  <h3 class=""><%= link_to article.title, article %></h3>

  <span class="text-muted"><%= article.date.strftime('%b. %e %Y') %></span>

  <div class="tag-list">
    <ul class="list-inline">
    <% article.tags.each do |tag| %>
      <li><%= link_to tag, tag_path(tag) %></li>
    <% end %>
    </ul>
  </div>

  <%= article.summary %>
</p>
<% end %>

