---
import { getCollection } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const allTags = new Set<string>();
  allPosts.forEach(post => {
    post.data.tags.forEach(tag => allTags.add(tag));
  });

  return Array.from(allTags).map(tag => {
    const filteredPosts = allPosts
      .filter(post => post.data.tags.includes(tag))
      .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<Layout title={`Tagged with ${tag}`}>
  <h1>Posts tagged with "{tag}"</h1>
  <ul>
    {posts.map(post => (
      <li>
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
      </li>
    ))}
  </ul>
</Layout>