<div id="contact" class="row narrow">
	<h2>Contact Me</h2>
	<div class="col-lg-12">
		<!-- use something else than 'nav' for contact links -->
		<ul class="nav nav-justified">
			<li><a href="mailto:consulting@boehrnsen.de" class="mail"><i class="fa fa-envelope"></i> Mail</a></li>
		</ul>
	</div>
	<div class="col-md-12">
		<ul class="nav nav-justified">
			<li><a href="https://twitter.com/deepflame"><i class="fa fa-twitter"></i> Twitter</a></li>
			<li><a href="https://github.com/deepflame"><i class="fa fa-github"></i> Github</a></li>
			<li><a href="http://www.flickr.com/photos/87288377@N00/"><i class="fa fa-flickr"></i> Flickr</a></li>
		</ul>
	</div>
</div>
