<div id="projects" class="row marketing">
	<h2>Open Projects</h2>
	<p class="col-lg-12">
	Here is a list of my latest Open Source Projects. Feel free to check out the code to get an idea of my expertise.
	</p>
	<div class="col-sm-6">
		<h4>iOpenSongs</h4>
		<p>A free guitar sheet viewer fornav-pills  iOS supporting the OpenSong file format.</p>
		<p>Features native UI and a flexible song renderer using HTML5.</p>
		<a href="https://github.com/deepflame/iopensongs" target="_blank"><i class="fa fa-github"></i> Source</a>
		<a href="https://itunes.apple.com/us/app/iopensongs/id501589566?mt=8" target="_blank"><i class="fa fa-apple"></i> App Store</a>
	</div>

	<div class="col-sm-6">
		<h4>opensong.js</h4>
		<p>CoffeeScript Library to render guitar sheets. Used in iOpenSongs.</p>
		<p>Using Handlebars for Templating and Grunt and Bower for packaging and dependencies.</p>
		<a href="https://github.com/deepflame/opensong.js" target="_blank"><i class="fa fa-github"></i> Source</a>
		<a href="http://deepflame.github.io/opensong.js/" target="_blank"><i class="fa fa-globe"></i> Demo</a>
	</div>
</div>
